.banner_wrapper {
	width: 100%;
	position: relative;

	.banner_box {
		width: 100%;
		height: 268px;
		padding: 0 15px;
		position: relative;
		background: #21325b url('./../../assets/images/banner_bg.png') repeat center center;
		background-size: cover;

		.banner_search {
			width: 100%;
			padding: 52px 0 0;

			.base_search_components {
				width: 50%;
			}

			h1 {
				color: #fff;
				font-size: 21px;
				margin-bottom: 12px;
			}
		}
	}
}
